<aside class="control-sidebar control-sidebar-dark">
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Quick actions</h3>
            <ul class="control-sidebar-menu">
                <li>
                    <a href="@Url.Action("New", "Accounts")">
                        <i class="menu-icon fa fa-university bg-blue"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Add account</h4>
                            <p>Add a new account</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Movements")">
                        <i class="menu-icon fa fa-file bg-purple"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Add movement</h4>
                            <p>Add a new movement</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Transfers")">
                        <i class="menu-icon fa fa-exchange bg-yellow"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Add transfer</h4>
                            <p>Add a new transfer</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "Projects")">
                        <i class="menu-icon fa fa-thumb-tack bg-gray"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Add project</h4>
                            <p>Add a new project</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("New", "CreditCards")">
                        <i class="menu-icon fa fa-credit-card bg-green"></i>
                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">Add credit card</h4>
                            <p>Add a new credit card</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<div class="control-sidebar-bg"></div>