@model PersonalFinances.Models.Movement

@{
    ViewBag.Title = "Delete movement";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>Delete the movement</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Movements")">Movements</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-danger">
            <div class="box-body">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                    This operation can not be undone!
                </div>

                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(m => m.Decrease)</dt>
                    <dd>@Html.DisplayFor(m => m.Description)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Type)</dt>
                    <dd>@Html.DisplayFor(m => m.Type)</dd>

                    <dt>@Html.DisplayNameFor(m => m.InclusionDate)</dt>
                    <dd>@Model.InclusionDate.ToShortDateString()</dd>

                    <dt>@Html.DisplayNameFor(m => m.AccountingDate)</dt>
                    <dd>@Model.AccountingDate.ToShortDateString()</dd>

                    <dt>@Html.DisplayNameFor(m => m.TotalValue)</dt>
                    <dd>@Model.TotalValue.ToString("F2")</dd>

                    <dt>@Html.DisplayNameFor(m => m.Account.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Account.Name)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Category.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Category.Name)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Subcategory.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Subcategory.Name)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Project.Name)</dt>
                    <dd>@Html.DisplayFor(m => m.Project.Name)</dd>

                    
                    <dt>@Html.DisplayNameFor(m => m.MovementStatus)</dt>
                    <dd>@Html.DisplayFor(m => m.MovementStatus)</dd>

                    <dt>@Html.DisplayNameFor(m => m.Observation)</dt>
                    <dd>@Html.DisplayFor(m => m.Observation)</dd>
                </dl>

                <form action="@Url.Action("Delete", "Movements")" method="post">
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
