@model PersonalFinances.Models.Movement

@{
    ViewBag.Title = "View movement details";

    string categoryType = (Model.Category.Type.Equals("C")) ? "Credit" : "Debit";
    string boxBackgroundColor = (Model.Category.Type.Equals("C")) ? "box-success" : "box-danger";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>View movement details</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Movements")">Movements</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-9">
                <!-- box -->
                <div class="box @boxBackgroundColor">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Id)
                                                @Html.TextBoxFor(m => m.Id, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Description)
                                        @Html.TextBoxFor(m => m.Description, new { Class = "form-control", Readonly = "readonly" })
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Type)
                                                @Html.TextBox("Type", categoryType, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.InclusionDate)
                                                @Html.TextBox("InclusionDate", Model.InclusionDate.ToShortDateString(), new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.AccountingDate)
                                                @Html.TextBox("AccountingDate", Model.AccountingDate.ToShortDateString(), new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Value)
                                                @Html.TextBoxFor(m => m.Value, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Increase)
                                                @Html.TextBoxFor(m => m.Increase, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Decrease)
                                                @Html.TextBoxFor(m => m.Decrease, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Account.Name)
                                                @Html.TextBoxFor(m => m.Account.Name, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Invoice.CreditCard.Name)
                                                @Html.TextBoxFor(m => m.Invoice.CreditCard.Name, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Category.Name)
                                                @Html.TextBoxFor(m => m.Category.Name, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Subcategory.Name)
                                                @Html.TextBoxFor(m => m.Subcategory.Name, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Project.Name)
                                                @Html.TextBoxFor(m => m.Project.Name, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.MovementStatus)
                                                @Html.TextBoxFor(m => m.MovementStatus, new { Class = "form-control", Readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label title="If you check this field, the movement will be automatically launched when expires">
                                                    @Html.CheckBoxFor(m => m.AutomaticallyLaunch, new { Disabled = "disabled" })
                                                    @Html.DisplayNameFor(m => m.AutomaticallyLaunch)
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Observation)
                                        @Html.TextAreaFor(m => m.Observation, new { Class = "form-control", Readonly = "readonly" })
                                    </div>

                                    <br />

                                    <a href="@Url.Action("Edit", "Movements", new { Id = Model.Id})" class="btn btn-sm btn-warning btn-flat pull-left"><i class="fa fa-pencil-square-o"></i> Edit movement</a>
                                    <a href="@Url.Action("Delete", "Movements", new { Id = Model.Id})" class="btn btn-sm btn-danger btn-flat pull-left"><i class="fa fa-trash-o"></i> Delete movement</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-3">
                <!-- table-box -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quick actions</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="list-group">
                            <a href="@Url.Action("View", "Accounts", new { Id = Model.Account.Id })" class="list-group-item"><i class="fa fa-external-link"></i> &nbsp; View account</a>
                            <a href="@Url.Action("View", "Categories", new { Id = Model.Category.Id })" class="list-group-item"><i class="fa fa-external-link"></i> &nbsp; View category</a>
                            <a href="@Url.Action("View", "Subcategories", new { Id = Model.Subcategory.Id })" class="list-group-item"><i class="fa fa-external-link"></i> &nbsp; View subcategory</a>
                            @if (Model.Project != null)
                            {
                                <a href="@Url.Action("Details", "Projects", new { Id = Model.Project.Id })" class="list-group-item"><i class="fa fa-external-link"></i> &nbsp; View project</a>
                            }
                            @if (Model.Invoice != null)
                            {
                                <a href="@Url.Action("View", "CreditCards", new { Id = Model.Invoice.CreditCard.Id })" class="list-group-item"><i class="fa fa-external-link"></i> &nbsp; View credit card</a>
                            }
                        </div>
                    </div>
                    <!-- /.body -->
                </div>
                <!-- ./table-box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
