@model PersonalFinances.Models.ViewModels.MovementViewModel

@{
    ViewBag.Title = "Edit movement";

    SelectList categoriesComboBox = new SelectList(Model.Categories, "Id", "Name", "Type", new { });
    SelectList accountsComboBox = new SelectList(Model.Accounts, "Id", "Name", "AccountType", new { });
    SelectList subcategoriesComboBox = new SelectList(Model.Subcategories, "Id", "Name", "Category.Name", new { });
    SelectList movementStatusComboBox = new SelectList(Enum.GetNames(typeof(MovementStatus)));
    SelectList projectsComboBox = new SelectList(Model.Projects, "Id", "Name", new { });
    SelectList creditCardsComboBox = new SelectList(Model.CreditCards, "Id", "Name", new { });
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>Edit a movement</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Movements")">Movements</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- box -->
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <form role="form" action="@Url.Action("Edit", "Movements")" method="post">
                            <span class="text-red">@Html.ValidationSummary()</span>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Movement.Description)
                                @Html.TextBoxFor(m => m.Movement.Description, new { Class = "form-control" })
                            </div>

                            @Html.HiddenFor(m => m.Movement.Type)

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.InclusionDate)
                                        @Html.TextBox("Movement.InclusionDate", DateTime.Now.ToShortDateString(), new { Class = "form-control", Readonly = "readonly " })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.AccountingDate)
                                        @Html.TextBox("Movement.AccountingDate", Model.Movement.AccountingDate.ToShortDateString(), new { Class = "form-control datepicker" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.Value)
                                        @Html.TextBoxFor(m => m.Movement.Value, new { Class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.Increase)
                                        @Html.TextBoxFor(m => m.Movement.Increase, new { Class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.Decrease)
                                        @Html.TextBoxFor(m => m.Movement.Decrease, new { Class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.AccountId)
                                        @Html.DropDownListFor(m => m.Movement.AccountId, accountsComboBox, "(Choose one)", new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.InvoiceId)
                                        @Html.DropDownListFor(m => m.Movement.InvoiceId, creditCardsComboBox, "(Optional)", new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.CategoryId)
                                        @Html.DropDownListFor(m => m.Movement.CategoryId, categoriesComboBox, "(Choose one)", new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.SubcategoryId)
                                        @Html.DropDownListFor(m => m.Movement.SubcategoryId, subcategoriesComboBox, "(Choose one)", new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.ProjectId)
                                        @Html.DropDownListFor(m => m.Movement.ProjectId, projectsComboBox, "(You can choose one)", new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Movement.MovementStatus)
                                        @Html.DropDownListFor(m => m.Movement.MovementStatus, movementStatusComboBox, new { Class = "selectpicker form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <label title="If you check this field, the movement will be automatically launched when expires">
                                            @Html.CheckBoxFor(m => m.Movement.AutomaticallyLaunch)
                                            @Html.DisplayNameFor(m => m.Movement.AutomaticallyLaunch)
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Movement.Observation)
                                @Html.TextAreaFor(m => m.Movement.Observation, new { Class = "form-control" })
                            </div>

                            @Html.HiddenFor(m => m.Movement.Id)
                            @Html.AntiForgeryToken()

                            <button type="submit" class="btn btn-primary btn-flat pull-left"><i class="fa fa-floppy-o"></i> Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
